<?xml version="1.0"?>
<launch>

  <!-- Define the csv file path (write only the prefix, the datetime and the csv extension will be added by the program) 
  <param name="output_csv_path" value="$(find log_data)/log/human_aware_navigation/5_persons/exp1_ha-nav_5p_log_"/>
  <param name="output_csv_path" value="$(find log_data)/log/move_base/2_goals/5_persons/exp1_m-b_2g_5p_log_"/>-->

  <param name="output_csv_path" value="$(find log_data)/log/human_aware_navigation/2_goals/10_persons/exp1_ha-nav_2g_10p_log_"/>
  
  <!-- Start the drone feedback node
  <node name="persons_5_feedback" pkg="log_data" type="persons_5_feedback.py" respawn="true" output="screen" />
  <node name="persons_10_feedback" pkg="log_data" type="persons_10_feedback.py" respawn="true" output="screen" />
  <node name="persons_20_feedback" pkg="log_data" type="persons_20_feedback.py" respawn="true" output="screen" />-->

  <node name="persons_10_feedback" pkg="log_data" type="persons_10_feedback.py" respawn="true" output="screen" />

</launch>
