<?xml version="1.0"?>
<launch>

  <!-- Define the csv file path (write only the prefix, the datetime and the csv extension will be added by the program) -->
  <param name="output_csv_path" value="$(find log_data)/log/test"/>
  
  <!-- Start the drone feedback node
  <node name="robot_feedback" pkg="log_data" type="robot_feedback.py" respawn="true" output="screen" /> -->
  <node name="drone_feedback" pkg="log_data" type="drone_feedback.py" respawn="true" output="screen" />

</launch>
